# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python
env/
venv/
pip-wheel-metadata/
dist/
build/

# Django specific
*.log
*.sqlite3 # ไฟล์ฐานข้อมูล SQLite
/media/ # โฟลเดอร์ที่เก็บไฟล์ที่ผู้ใช้อัปโหลด
/static/ # โฟลเดอร์ที่รวบรวมไฟล์ static (ถ้ามีการรวบรวม)

# Secrets
# สิ่งที่สำคัญที่สุด: คีย์ลับและรหัสผ่าน
settings_local.py
*.env