{% extends "base.html" %}

{% load static %}

{% block title %}Test AlpineJS vs VanillaJS{% endblock %}

{% block extra_head %}
{% block content %}
<div class="mx-auto space-y-12 py-12">
    <section>
        <h1 class="text-2xl font-semibold">Week 11: AlpineJS vs VanillaJS</h1>
        <p class="text-gray-600">Step by Step</p>
    </section>

    <!-- Conter -->
     <section class="bg-white rounded-xl p-6 shadow">
        <h2 class="text-xl font-semibold">Counter : Alpine vs Vanilla</h2>
        <div class="grid md:grid-cols-2 gap-6 mt-4">
            <!-- vanilla -->
            <div class="rounded-xl border border-gray-500 p-4">
                <h3 class="text-base my-3">Vanilla JS</h3>
                <div class="flex flex-col items-center space-y-3">
                    <p class="font-semibold text-xl" id="s1_count" ></p>
                    <div class="space-x-2">
                        <button id="s1_plus" class="px-3 py-1 bg-green-400 rounded">+</button>
                        <button id="s1_minus" class="px-3 py-1 bg-red-400 rounded">-</button>
                    </div>
                </div>
                
            </div>
            <!-- alpine -->
            <div class="rounded-xl border border-gray-500 p-4" x-data = "{count: 0}"">
                <h3 class="text-base my-3">Alpine JS</h3>
                <div class="flex flex-col items-center space-y-3">
                    <p class="font-semibold text-xl" x-text="count"></p>
                    <div class="space-x-2">
                        <button class="px-3 py-1 bg-green-400 rounded" @click="count++">+</button>
                        <button class="px-3 py-1 bg-red-400 rounded" x-on:click="count--">-</button>
                    </div>
                </div>
            </div>
        </div>
     </section>

     <!-- Show/Hide -->
     <section class="bg-white rounded-xl p-6 shadow">
        <h2 class="text-xl font-semibold">Show/Hide : Alpine vs Vanilla</h2>
        <div class="grid md:grid-cols-2 gap-6 mt-4">
            <!-- vanilla -->
            <div class="rounded-xl border border-gray-500 p-4">
                <h3 class="text-base my-3">Vanilla JS</h3>
                <div class="flex flex-col items-center space-y-4">
                    <button id="s2_toggle" class="px-3 py-1 rounded bg-blue-700 text-white">show</button>
                    <p id="s2_msg" class="opacity-0 transtition-opacity duration-300">Hello Vanilla...</p>
                </div>
                
            </div>
            <!-- alpine -->
            <div class="rounded-xl border border-gray-500 p-4" x-data = "{show: false}"">
                <h3 class="text-base my-3">Alpine JS</h3>
                <div class="flex flex-col items-center space-y-4">
                    <button  class="px-3 py-1 rounded bg-blue-700 text-white" @click="show = !show" x-text="show ? 'hide': 'show'"></button>
                    <p x-show="show" x-transition:enter.duration.500ms x-transition:leave.duration.150ms>Hello Alpine...</p>
                </div>
            </div>
        </div>
     </section>
     <!-- Search -->
     <section class="bg-white rounded-xl p-6 shadow">
        <h2 class="text-xl font-semibold">Search : Alpine vs Vanilla</h2>
        <p class="text-sm font-light">Loop object + index + filter</p>
        <div class="grid md:grid-cols-2 gap-6 mt-4">
            <!-- vanilla -->
            <div class="rounded-xl border border-gray-500 p-4">
                <h3 class="text-base my-3">Vanilla JS</h3>
                <div class="flex flex-col items-start space-y-4">
                    <input type="text" id="s3_search" class="border rounded-lg px-2 py-1 w-full" placeholder="Searching...">
                    <ul id="s3_list" class="mt-3 space-y-1">
                    </ul>
                </div>
            </div>
            <!-- alpine -->
            <div class="rounded-xl border border-gray-500 p-4" 
                x-data = "{search:'', people :[{name:'Alice', age:22}, {name:'Bob', age:28}, {name:'Cathy', age:31}, {name:'Duke', age:26}]}" >
                <h3 class="text-base my-3">Alpine JS</h3>
                <div class="flex flex-col items-start space-y-4">
                    <input type="text" x-model="search" class="border rounded-lg px-2 py-1 w-full" placeholder="Searching...">
                    <ul class="mt-3 space-y-1">
                        <template x-for="(p, i) in people" :key="i">
                            <li x-show = "p.name.toLowerCase().includes(search.toLowerCase()) || p.age.toString().includes(search)"
                                class="text-sm" x-text= "(i+1) +') ' + p.name +' : '+ p.age">
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
     </section>
</div>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        //variable declaration
        var a = 1;
        a = a+5;
        //ESLint6
        //console.log(a);
        let b = 2; // อนุญาตให้เปลี่ยนค่าได้
        b= b+6;
        //console.log(b);
        let message = "adfasdfadsf"
        const c = 5; //ไม่อนุญาต
        // c = c+10; ทำไม่ได้
        //console.log(c);

        //Section 1 counter : VanillaJS
        let s1 = 0;      
        const s1_count = document.getElementById('s1_count');
        s1_count.textContent = s1; //set zero
        document.getElementById('s1_plus').addEventListener('click', () => {
            console.log("add");
            s1 += 1;
            s1_count.textContent = s1;
        });
        document.getElementById('s1_minus').addEventListener('click', function() {
            console.log("minus");
            s1 -= 1;
            s1_count.textContent = s1;
        });

        //Section2 Show/Hide
        const s2Btn = document.getElementById('s2_toggle');
        const s2Msg = document.getElementById('s2_msg');
        s2Btn.addEventListener('click', () => {
            const hidden = s2Msg.classList.contains('opacity-0');
            s2Msg.classList.toggle('opacity-0', !hidden);
            s2Btn.textContent = hidden ? 'hide': 'show';

        })

        //Section3
        
        const s3_list = document.getElementById('s3_list');
        const s3_search = document.getElementById('s3_search')
        const s3Data   = [{name:'Alice', age:22}, {name:'Bob', age:28}, {name:'Cathy', age:31}, {name:'Duke', age:26}];
        // python : for x in List
        function s3Render(filter=""){
            console.log(filter)
            s3_list.innerHTML=""; //clear list
            s3Data.forEach( (p, i) => {
                const keep = !filter || p.name.toLowerCase().includes(filter.toLowerCase()) || p.age.toString().includes(filter)
                if(keep) {
                    const li = document.createElement('li');// => <li></li>
                    // li.textContent = (i+1)+") name: "+p.name+" age: "+p.age;
                    li.className = "text-sm";
                    li.textContent = (i+1)+") "+p.name+" : "+p.age;
                    s3_list.appendChild(li)
                } 
            })
        }
        //function call
        s3Render();
        //เรียกทุกครั้งที่พิมพ์ในช่องนั้น
        s3_search.addEventListener('input', () => {
            console.log("pim law jahhh");
            s3Render(s3_search.value);
        })

})
</script>



{% endblock %}